*__pycache__*
*.asv
*.mat
!dice_rot_fast.mat
!*names*.mat
!dice_rot_new.mat
!velke_aug_nonorm_net_checkpoint__19000__2020_01_15__13_39_47.mat
!velke_aug_norm_net_checkpoint__8360__2020_01_14__17_52_49.mat
!velke_noaug_norm_net_checkpoint__1520__2020_01_13__16_09_04.mat
!names_foci_sample.mat
