data_zenodo/*
!data_zenodo/download_links.txt
*.asv
*tmp.mat
*.hdf5
*.pyc
matlab/nova_data/**/*.mat
matlab/nuclei_segmentation_training/tmp*.mat
*/**/labeling_rad51.zip
matlab/nova_data2/labeling_rad51/NANOREP_labeling_new
matlab/nova_data2/labeling_rad51/semiauto_klicker/two_colors_rad51_random
matlab/nova_data2/labeling_rad51/klikac
matlab/nova_data2/labeling_tracks_threshold/Prioritně + 15N  ion tracks (originálně z Acquiarium) pro analýzu a nové učení_labeling_new
matlab/nova_data/plots
*.mat
*.exe